<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790561525661-ken69ekok1vu6m64hjvpe9qhh3f1p2q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790561525661-ken69ekok1vu6m64hjvpe9qhh3f1p2q8</string>
	<key>API_KEY</key>
	<string>AIzaSyCsq1oiNWNEScGd6UvtcGCV8n5p8I0mrtA</string>
	<key>GCM_SENDER_ID</key>
	<string>790561525661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>foodado-df140</string>
	<key>STORAGE_BUCKET</key>
	<string>foodado-df140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790561525661:ios:a1f8d8e0cf5b9b487ee974</string>
</dict>
</plist>
